@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Quicksand:wght@300;400&display=swap');

body {
  margin: 0;
  background: #111;

  display: flex;
  justify-content: center;
}

.home {
  width: min(393px, 100vw);
  height: min(852px, 100dvh);
  min-height: 620px;

  position: relative;

  overflow: hidden;

  background-size: cover;
  background-position: center;

  margin: 0 auto;
}

/* 검은 반투명 레이어 */

.overlay {
  position: absolute;
  inset: 0;

  background: rgba(9, 6, 32, 0.40);;

  z-index: 1;
}

/* 메인 콘텐츠 */

.content {
  position: relative;
  z-index: 10;

  width: 100%;
  height: 100%;
  margin-top: 0;
  padding: 0 20px;

  color: white;
}

.logo {
  position: absolute;
  top: clamp(42px, 7.4%, 64px);
  left: 50%;
  width: clamp(126px, 34vw, 145px);
  transform: translateX(-50%);
}

.title {

  font-family: "Cormorant Garamond", serif;

  position: absolute;
  top: 31.5%;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;

  font-size: clamp(45px, 14vw, 55px);

  font-style: normal;

  font-weight: 500;

  line-height: normal;

  background: radial-gradient(
    circle at center,
    #FEE854 0%,
    #E5D56A 30%,
    #9E9E9E 75%
  );
 
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

  background-clip: text;

  color: transparent;

  margin: 0;
  text-align: center;
}

.subtitle {
  position: absolute;
  top: 40.7%;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;

  font-family: "Gowun Dodum", sans-serif;

  font-size: clamp(18px, 5.8vw, 23px);
  font-weight: 400;

  line-height: 1.42;

  text-align: center;

  margin: 0;

  color: white;
}

/* 노란 버튼 */

.gold-btn {

  position: absolute;
  top: 52.7%;
  left: 50%;
  transform: translateX(-50%);

  width: min(351px, 100%);
  height: clamp(50px, 6.6dvh, 56px);

  border: none;

  border-radius: 12px;

  background: #CCB933;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Gowun Dodum", sans-serif;

  font-size: 15px;
  font-weight: 400;

  color: #000;

  cursor: pointer;

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background 0.15s ease;

  margin: 0;
}

/* 터치 시 효과 */

.gold-btn:active {

  background: #CCB933;

  transform: translateX(-50%) scale(0.98);

  box-shadow:
     0 0 18px rgba(212, 191, 45, 0.55),
     0 0 35px rgba(212, 191, 45, 0.30);
}

/* 보라 버튼 기본 */

.purple-btn {
  position: absolute;
  top: calc(52.7% + clamp(60px, 7.8dvh, 66px));
  left: 50%;
  transform: translateX(-50%);

  width: min(351px, 100%);
  height: clamp(50px, 6.6dvh, 56px);

  border-radius: 12px;

  border: 2px solid #6F6F6F;

  background: rgba(48, 32, 118, 0.68);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Gowun Dodum", sans-serif;

  font-size: 15px;
  font-weight: 400;

  color: #FD0;

  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(3px);

  cursor: pointer;

  transition:
    background 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.1s ease;
}


/* 터치 시 효과 */

.purple-btn:active {

  border: 2px solid #6F6F6F;

  background: rgba(84, 64, 173, 0.68);

  box-shadow:
    0 0 18px rgba(84, 64, 173, 0.55),
    0 0 35px rgba(84, 64, 173, 0.28);

  transform: translateX(-50%) scale(0.99);
}

/* 설명 카드 */

.info-card {
  position: absolute;
  top: 72.4%;
  left: 50%;
  transform: translateX(-50%);

  width: min(351px, 100%);

  padding: clamp(14px, 2.8dvh, 22px) 28px;

  box-sizing: border-box;

  position: relative;
  overflow: hidden;

  border-radius: 15px;

  background: linear-gradient(
    90deg,
    rgba(255,255,255,0.04) 0%,
    rgba(255,255,255,0.08) 50%,
    rgba(255,255,255,0.04) 100%
  );

  border: 1px solid rgba(255,255,255,0.14);

  backdrop-filter: blur(1px);

  box-shadow:
    inset 0 0 6px rgba(255,255,255,0.03);

  text-align: center;

  color: #FFF;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(15, 0, 81, 0.2);

  text-shadow:
    0 0 11.1px rgba(15,0,81,0.89);

  font-family: "Gowun Dodum", sans-serif;

  font-size: 14px;
  font-weight: 400;

  line-height: 1.55;

  word-break: keep-all;

  z-index: 10;

  margin: 0;
}

.info-card::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 35%;

  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0.16),
    rgba(255,255,255,0.02)
  );

  border-radius: 15px 15px 50% 50%;

  filter: blur(3px);

  opacity: 0.7;

  pointer-events: none;
}

.orbit-image {
  position: absolute;

  bottom: clamp(-150px, -17dvh, -92px);
  left: 50%;

  transform: translateX(-50%);

  width: min(430px, 110vw);

  opacity: 0.9;

  z-index: 1;

  pointer-events: none;
}
